body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-rows: 40px 1fr 40px;
    grid-template-columns: 1fr 80px;
}

header {
    grid-area: header;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
 
main {
    grid-area: main;
    background-color: red;
    display: flex;
    font-size: 75px;
}

.demo-soon {
    display:flex;
    
}

aside {
    grid-area: aside;
    width: 100px;
    height: 150px;
    margin: 0;
    
}
/* #Grid

* Posicionamento dos elementos dentro da caixa
* Posicionamento horizontal ou vertical ao mesmo tempo
* Pode ser flexível ou fixo
* Cria espaços para os elementos filhos habitarem