.grid-container {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "1 2"
    "3 4"
    "5 6";
    grid-template-rows: 20px 1fr 20px;
    grid-template-columns: 1fr 40px;
    border: 2px solid red;
}
#demo {
    grid-area: 3;
    font-size: 20px;
    border: 2px solid red;    
}

.section1{
    grid-area: 1;
    border: 2px solid red;
    width: 80px;
}

.section2 {
    grid-area: footer;
    border: 2px solid red;
}

img {
    grid-area: img;
    height: 220px;
    width: 250px;
    border: 2px solid red;
}

