* {
    margin: 0px;
    background-color: rgb(12, 203, 236);
}

#demo {
    display: flex;
    padding-top: 100px;
    padding-left: 40px;
    color: rgb(247, 7, 7);
    font-size: 100px;
}

.section2 {
    display: flex;
    padding-left: 41px;
}
img {
    display: flex;
    width:300px;
    height:310px;
    background: no-repeat;                           
}